@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 24%;
}

.section-box {
  margin: 0 0 0 24%;
}

@media screen and (max-width: 690px) {
  #navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .section-box {
    margin: 20px 0 0 0;
  }
}